h1 {
    color: #fff3e0;
}
p {
    color: #ffd54f;
}
button:hover{
    background-color: olive;
    cursor: pointer;
    font-size: 20px;
}
#title { 
    text-align: center;
    padding-top: 200px;
    background-image: url("../images/stephan-de-maranthi-zUheoDFhl94-unsplash.jpg");
    background-position: center top;
}